<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="FilePath" value="E:\log.txt" />

  <!-- DBSink settings -->
  <add key="ConnectionString" value="mongodb://localhost:27017" />
  <add key="DatabaseName" value="MyDatabase" />
  <add key="CollectionName" value="MyCollection" />
</configuration>